---
import 'photoswipe/style.css'
---
<h1 class="mt-40 flex items-center justify-center text-3xl font-bold">Galeria</h1>
<div class="pswp-example__preview docs-styled-scrollbar" role="region" aria-label="Vista previa del código">
    <div class="grid grid-cols-1 md:grid-cols-3 mt-10 mb-60 gap-6 p-5" id="gallery">
        <!-- 1 -->
    <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/Frente.jpg?alt=media&token=008e5339-e89c-435c-847e-8bf95ddc9267"
         data-pswp-width="2500" 
         data-pswp-height="1500" 
         target="_blank">
      <img class="rounded-md bg-green-900 shadow-lg shadow-green-500/50" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/Frente.jpg?alt=media&token=008e5339-e89c-435c-847e-8bf95ddc9267" alt="Frente">
    </a>
    <!-- 2 -->
    <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20patio.jpg?alt=media&token=2df8c084-4d6d-4afe-a758-499ec85eea1b"
         data-pswp-width="2500" 
         data-pswp-height="1875" 
         target="_blank">
      <img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20patio.jpg?alt=media&token=2df8c084-4d6d-4afe-a758-499ec85eea1b" alt="Interior">
    </a>
    <!-- 3 -->
    <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20barra.jpg?alt=media&token=1a3b29d6-0c28-4945-8774-f544dd7aa1e7" 
         data-pswp-width="2500"
         data-pswp-height="1666" 
         target="_blank">
      <img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20barra.jpg?alt=media&token=1a3b29d6-0c28-4945-8774-f544dd7aa1e7" alt="Barra">
    </a>
    <!-- 4 -->
    <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20pileta.jpg?alt=media&token=3f448ec9-9b34-4864-80a3-039711fb7d84" 
         data-pswp-width="2500"
         data-pswp-height="1666"
         target="_blank">
      <img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duque%20pileta.jpg?alt=media&token=3f448ec9-9b34-4864-80a3-039711fb7d84" alt="Pileta">
    </a>
      <!-- 5 -->
  <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicos%20frente.jpg?alt=media&token=f93b2832-7bcf-4f47-b065-92dbd0c821c8" 
  data-pswp-width="2500"
  data-pswp-height="1666"
  target="_blank">
<img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicos%20frente.jpg?alt=media&token=f93b2832-7bcf-4f47-b065-92dbd0c821c8" alt="chicos frente">
</a>
  <!-- 6bis -->
  <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicos.jpg?alt=media&token=d2c3a377-9e69-4817-ba3a-907a08d5c9a6" 
  data-pswp-width="2500"
  data-pswp-height="1666"
  target="_blank">
<img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicos.jpg?alt=media&token=d2c3a377-9e69-4817-ba3a-907a08d5c9a6" alt="chicos playa bis">
  <!-- 6 -->
  <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/play.jpg?alt=media&token=1a911a3b-5979-4dc9-b89c-f32c4822ee3f" 
  data-pswp-width="1500"
  data-pswp-height="2000"
  target="_blank">
<img class="rounded-md" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/play.jpg?alt=media&token=1a911a3b-5979-4dc9-b89c-f32c4822ee3f" alt="chicos playa">
</a>

</a>
 <!-- 7 -->
  <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duqe%20recep.jpg?alt=media&token=25c2f024-e549-4180-ac74-a5654a17b28c" 
         data-pswp-width="1000" 
         data-pswp-height="1200" 
         target="_blank">
      <img class="rounded-xl" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/duqe%20recep.jpg?alt=media&token=25c2f024-e549-4180-ac74-a5654a17b28c" alt="recibidor">
  </a>
     <!-- 8 -->
     <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicoshos.jpg?alt=media&token=e62d7593-290f-4c1f-9a63-e715aace50cc" 
     data-pswp-width="1200"
     data-pswp-height="1500"
     target="_blank">
  <img class="rounded-xl" src="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/chicoshos.jpg?alt=media&token=e62d7593-290f-4c1f-9a63-e715aace50cc" alt="chicos deck">
 </a>

</div>
<script>

import PhotoSwipeLightbox from 'photoswipe/lightbox';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('photoswipe')
});
lightbox.init();

</script>