---
import 'photoswipe/style.css'
---
<h1 class="mt-40 flex items-center justify-center text-3xl font-bold">Galeria</h1>
<div class="pswp-example__preview docs-styled-scrollbar" role="region" aria-label="Vista previa del código">
    <div class="grid grid-cols-1 md:grid-cols-3 mt-10 mb-60 gap-6 p-5" id="gallery">
        <!-- 1 -->
    <a href="https://cf.bstatic.com/xdata/images/hotel/max1024x768/248651963.jpg?k=e81695beed945eecd5fc2987e57e870e2a4cb3361dc17f96da233d53dc9e05a8&o=&hp=1"
         data-pswp-width="2500" 
         data-pswp-height="1500" 
         target="_blank">
      <img class="rounded-md bg-green-900 shadow-lg shadow-green-500/50" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/248651963.jpg?k=e81695beed945eecd5fc2987e57e870e2a4cb3361dc17f96da233d53dc9e05a8&o=&hp=1" alt="Frente">
    </a>
    <!-- 2 -->
    <a href="https://cf.bstatic.com/xdata/images/hotel/max1024x768/248651900.jpg?k=d31bf2014064bc6ab08d1264f9ca9e9fc4162fa00fd888837a4ec7e62ffdbe44&o=&hp=1"
         data-pswp-width="2500" 
         data-pswp-height="1875" 
         target="_blank">
      <img class="rounded-md" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/248651900.jpg?k=d31bf2014064bc6ab08d1264f9ca9e9fc4162fa00fd888837a4ec7e62ffdbe44&o=&hp=1" alt="Interior">
    </a>
    <!-- 3 -->
    <a href="https://cf.bstatic.com/xdata/images/hotel/max1024x768/273352634.jpg?k=62615f79c2bfd0744eedb85cb486da90f91845de0e81bab09f6d8c8eb81d5e88&o=&hp=1https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg" 
         data-pswp-width="2500"
         data-pswp-height="1666" 
         target="_blank">
      <img class="rounded-md" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/273352634.jpg?k=62615f79c2bfd0744eedb85cb486da90f91845de0e81bab09f6d8c8eb81d5e88&o=&hp=1" alt="Barra">
    </a>
    <!-- 4 -->
    <a href="https://cf.bstatic.com/xdata/images/hotel/max1024x768/241892970.jpg?k=d8b87048a397f4e125bc566841e3fa8052998a9eaf60c73974ed111c914a151c&o=&hp=1" 
         data-pswp-width="2500"
         data-pswp-height="1666"
         target="_blank">
      <img class="rounded-md" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/241892970.jpg?k=d8b87048a397f4e125bc566841e3fa8052998a9eaf60c73974ed111c914a151c&o=&hp=1" alt="Pileta">
    </a>
      <!-- 5 -->
  <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/434163914_18046298662651567_3074006662147283927_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDk2MC5zZHIuZjMwODA4In0&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=bhXQV1whG8EQ7kNvgFx_-zY&edm=AIcyvokAAAAA&ccb=7-5&ig_cache_key=MzMzNDc4MDk0MzE1MDAwODE4OQ%3D%3D.2-ccb7-5&oh=00_AYBhQVgrekQz4YVb24zRQMu5b6wqi9s_K89C06Uy1w9OsQ&oe=667D89C3&_nc_sid=cf751b" 
  data-pswp-width="2500"
  data-pswp-height="1666"
  target="_blank">
<img class="rounded-md" src="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/434163914_18046298662651567_3074006662147283927_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDk2MC5zZHIuZjMwODA4In0&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=bhXQV1whG8EQ7kNvgFx_-zY&edm=AIcyvokAAAAA&ccb=7-5&ig_cache_key=MzMzNDc4MDk0MzE1MDAwODE4OQ%3D%3D.2-ccb7-5&oh=00_AYBhQVgrekQz4YVb24zRQMu5b6wqi9s_K89C06Uy1w9OsQ&oe=667D89C3&_nc_sid=cf751b" alt="chicos frente">
</a>
  <!-- 6bis -->
  <a href="../../public/Imagenes/chicos.jpg" 
  data-pswp-width="2500"
  data-pswp-height="1666"
  target="_blank">
<img class="rounded-md" src="../../public/Imagenes/chicos.jpg" alt="chicos playa bis">
  <!-- 6 -->
  <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/411763990_18036029416651567_4046331190141355245_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE4MDAuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=Vea33C2Ho0QQ7kNvgHM36Zt&edm=AFg4Q8wAAAAA&ccb=7-5&ig_cache_key=MzI2MDY3NzQwMzc5NzcwMDIwMA%3D%3D.2-ccb7-5&oh=00_AYBsVrs5oh98VZcjJDDTW_EQ4MCMjA7zqiU-1w3f9DhnSQ&oe=667D64AB&_nc_sid=cf751b" 
  data-pswp-width="1500"
  data-pswp-height="2000"
  target="_blank">
<img class="rounded-md" src="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/411763990_18036029416651567_4046331190141355245_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE4MDAuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=Vea33C2Ho0QQ7kNvgHM36Zt&edm=AFg4Q8wAAAAA&ccb=7-5&ig_cache_key=MzI2MDY3NzQwMzc5NzcwMDIwMA%3D%3D.2-ccb7-5&oh=00_AYBsVrs5oh98VZcjJDDTW_EQ4MCMjA7zqiU-1w3f9DhnSQ&oe=667D64AB&_nc_sid=cf751b" alt="chicos playa">
</a>

</a>
 <!-- 7 -->
  <a href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/295673591.jpg?k=4f643a8bcebbe20c17da8535689d23427a13a051a7d3d7c2f7650e5a3936f6c6&o=&hp=1" 
         data-pswp-width="1000" 
         data-pswp-height="1200" 
         target="_blank">
      <img class="rounded-xl" src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/295673591.jpg?k=4f643a8bcebbe20c17da8535689d23427a13a051a7d3d7c2f7650e5a3936f6c6&o=&hp=1" alt="recibidor">
  </a>
     <!-- 8 -->
     <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/441573919_18050728213651567_6429159353824783071_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE4MDAuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=I3fV4G9wVtoQ7kNvgEE3uN8&edm=AEhyXUkAAAAA&ccb=7-5&ig_cache_key=MzM2NzkyOTgwNDk2NzAyMTA4NA%3D%3D.2-ccb7-5&oh=00_AYATXfQ3HI55rWjTYRkxFerQNhooipi_XIiULAJuwyXpJg&oe=667D7EB8&_nc_sid=cf751b" 
     data-pswp-width="1200"
     data-pswp-height="1500"
     target="_blank">
  <img class="rounded-xl" src="https://instagram.fvdr1-1.fna.fbcdn.net/v/t39.30808-6/441573919_18050728213651567_6429159353824783071_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE4MDAuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=I3fV4G9wVtoQ7kNvgEE3uN8&edm=AEhyXUkAAAAA&ccb=7-5&ig_cache_key=MzM2NzkyOTgwNDk2NzAyMTA4NA%3D%3D.2-ccb7-5&oh=00_AYATXfQ3HI55rWjTYRkxFerQNhooipi_XIiULAJuwyXpJg&oe=667D7EB8&_nc_sid=cf751b" alt="chicos deck">
 </a>

</div>
<script>

import PhotoSwipeLightbox from 'photoswipe/lightbox';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('photoswipe')
});
lightbox.init();

</script>