---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout>
  
<section class="flex flex-col items-center justify-center min-h-screen pt-24 p-4 mb-8">
    <h2 class="text-3xl font-bold mt-12 mb-12">Quartos De Dormir</h2>
    <div class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-12">
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi3.jpg?alt=media&token=54047f31-41ce-4f34-a105-50773319ea7c" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no térreo para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi3.jpg?alt=media&token=54047f31-41ce-4f34-a105-50773319ea7c" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no térreo para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi1.jpg?alt=media&token=ca6b8906-d98d-470c-8b85-0b71f38cf700" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Feminino</a>
        <p class="text-lg mb-4">Quarto no andar superior para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi3.jpg?alt=media&token=54047f31-41ce-4f34-a105-50773319ea7c" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no andar superior para 16 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 8 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi%205.jpg?alt=media&token=d3dbd9c2-6e82-4bc6-8cb8-c2253bd92849" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto privado</a>
        <p class="text-lg mb-4">Quarto no andar superior para 4 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 1 beliche, 1 cama de casal</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://firebasestorage.googleapis.com/v0/b/duque-3b5e2.appspot.com/o/dormi%205.jpg?alt=media&token=d3dbd9c2-6e82-4bc6-8cb8-c2253bd92849" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto privado</a>
        <p class="text-lg mb-4">Quarto no térreo para 4 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 1 beliche, 1 cama de casal</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      </div>
    </div>
  </section>
  
</MainLayout>


