---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout>
  
<section class="flex flex-col items-center justify-center min-h-screen pt-24 p-4 mb-8">
    <h2 class="text-3xl font-bold mt-12 mb-12">Quartos De Dormir</h2>
    <div class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-12">
      <div class="mb-8">
        <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t51.29350-15/312251556_167029959312907_4041670581243765641_n.webp?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYyOTM1MCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=056x_iaHU1MQ7kNvgEhvymC&edm=AFg4Q8wBAAAA&ccb=7-5&ig_cache_key=Mjk1NTUzODk5OTE1MDUwNjAyNg%3D%3D.2-ccb7-5&oh=00_AYBeg0idOnuYOBQSCtTQlhKHV__ujxysEgwx42pWvuBicA&oe=667FC6CB&_nc_sid=0b30b7" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no térreo para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t51.29350-15/312251556_167029959312907_4041670581243765641_n.webp?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYyOTM1MCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=056x_iaHU1MQ7kNvgEhvymC&edm=AFg4Q8wBAAAA&ccb=7-5&ig_cache_key=Mjk1NTUzODk5OTE1MDUwNjAyNg%3D%3D.2-ccb7-5&oh=00_AYBeg0idOnuYOBQSCtTQlhKHV__ujxysEgwx42pWvuBicA&oe=667FC6CB&_nc_sid=0b30b7" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no térreo para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://duque-hostel.hotelflorianopolis.com/data/Images/OriginalPhoto/10980/1098062/1098062943/image-florianopolis-duque-hostel-7.JPEG" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Feminino</a>
        <p class="text-lg mb-4">Quarto no andar superior para 8 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 4 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://duque-hostel.hotelflorianopolis.com/data/Images/OriginalPhoto/10980/1098062/1098062943/image-florianopolis-duque-hostel-7.JPEG" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto Misto</a>
        <p class="text-lg mb-4">Quarto no andar superior para 16 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 8 beliches</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t51.29350-15/312500937_2084208221762668_5079055593544353662_n.webp?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYyOTM1MCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=sFx-mIVQV8sQ7kNvgFnQX_i&edm=AFg4Q8wBAAAA&ccb=7-5&ig_cache_key=Mjk1NTUzODk5ODg0ODQ5NjcwMw%3D%3D.2-ccb7-5&oh=00_AYDvLQDXM22RadeTfd0MRzaazli7J3fpb0H_JYe_fzI2BQ&oe=667FC5B7&_nc_sid=0b30b7" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto privado</a>
        <p class="text-lg mb-4">Quarto no andar superior para 4 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 1 beliche, 1 cama de casal</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      <div class="mb-8">
        <a href="https://instagram.fvdr1-1.fna.fbcdn.net/v/t51.29350-15/312355494_2991175051184461_5063171575948720992_n.webp?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYyOTM1MCJ9&_nc_ht=instagram.fvdr1-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=uWSwDf2UHQYQ7kNvgF39FGo&edm=AFg4Q8wBAAAA&ccb=7-5&ig_cache_key=Mjk1NTUzODk5ODg5ODg4MjU3MQ%3D%3D.2-ccb7-5&oh=00_AYAG8JDTUCpE9EqLgRJPgViuPM9WjFOiuVp6s-F2gOs_aw&oe=667FEAC7&_nc_sid=0b30b7" target="_blank" class="text-2xl font-bold mb-2 hover:border rounded-full inline-block border-white hover:bg-green-700 py-2 rounded ">Quarto privado</a>
        <p class="text-lg mb-4">Quarto no térreo para 4 pessoas, com baús para guardar sua bagagem e ficar seguro, o quarto possui 1 beliche, 1 cama de casal</p>
        <!-- Agrega más detalles si es necesario -->
      </div>
      </div>
    </div>
  </section>
  
</MainLayout>


